MODEL_NAME=Qwen/Qwen2-7B-Instruct

BATCH_SIZE=2
MAX_NEW_TOKENS=300
USING_CHAT_TEMPLATE=true

HF_TOKEN=

LOAD_IN_4BIT=false

DATA_PATH=datasets/mac/mac.tsv
RESULTS_PATH=results/mac-results_few_shots.csv
